<ion-content>

  <ion-grid no-margin no-padding>
    <!-- Header -->
    <ion-row style="background-color: rgb(48, 48, 48); color: white;">
      <ion-col style="height: 90px; display: flex;"> <span style="margin: auto; font-size: 1.3em">À PROPOS</span></ion-col>
      <ion-col style="height: 90px; display: flex;"> <span style="margin: auto; font-size: 1.3em">NOTRE MISSION</span></ion-col>
      <ion-col style="height: 90px; display: flex;"> <img src="assets/elements/logo.png" style="margin: auto; height: 100%;"></ion-col>
      <ion-col style="height: 90px; display: flex;"> <span style="margin: auto; font-size: 1.3em">LA DÉMARCHE</span></ion-col>
      <ion-col style="height: 90px; display: flex;" no-margin no-padding> <span style="margin: auto; font-size: 1.3em">EN CHIFFRES</span>
      </ion-col>
    </ion-row>

    <!-- Vidéo -->
    <ion-row style="position: relative;">
      <div>
        <img src="assets/elements/header.jpg" style="margin-bottom: -3px;">
      </div>
    </ion-row>

    <!-- À propos -->
    <ion-row>
      <ion-col style="background-image: url('assets/elements/screen1.png'); height: 400px; background-position: top center;">
        <!-- <img src="assets/elements/screen1.png" style="margin: auto; object-fit: cover; height: 400px; width: 100%;"> -->
      </ion-col>

      <ion-col style="text-align: right;">
        <div style="margin-right: 10vw;">

          <h3 style="margin-top: 80px;">Gaïa, c'est quoi ?</h3>
          <p style="margin-top: 60px; padding-left: 10vw;">C'est une jeune start-up qui a pour but de sensibiliser la jeunesse au
            développement durable et la
            préservation de la planète !</p>
          <ion-button style="margin-top: 60px;" round color="danger">Ça m'intéresse</ion-button>
        </div>
      </ion-col>
    </ion-row>

    <!-- Pourquoi -->

    <ion-row>
      <ion-col size="8" style="text-align: left;">
        <div style="margin-left: 10vw;">
          <h3 style="margin-top: 80px;">La mission Gaïa</h3>
          <p style="margin-top: 60px; padding-right: 10vw;">Notre plateforme te propose de nettoyer ta ville tout en gagnant des cadeaux et
            en faisant des encontres plus enrichissantes les unes que les autres. Grâce à notre système de points, tu gagnes des
            opportunités de plus grande ampleur !</p>
          <ion-button style="margin-top: 60px;" round color="danger">Ça m'intéresse</ion-button>
        </div>
      </ion-col>

      <ion-col style="background-image: url('assets/elements/screen2.png'); height: 400px; background-position: top center;">
        <!-- <img src="assets/elements/screen1.png" style="margin: auto; object-fit: cover; height: 400px; width: 100%;"> -->
      </ion-col>
    </ion-row>

    <!-- Comment -->
    <ion-row>
      <ion-col style="background-image: url('assets/elements/screen3.png'); height: 600px; background-position: top center;">
        <!-- <img src="assets/elements/screen1.png" style="margin: auto; object-fit: cover; height: 400px; width: 100%;"> -->
      </ion-col>

      <ion-col style="text-align: right;">
        <div style="margin-right: 10vw;">

          <h3 style="margin-top: 80px;">Comment participer ?</h3>
          <p style="margin-top: 60px; padding-left: 10vw;">Via la map interactive de Gaïa, tu peux facilement localiser les endroits pollués
            autour de toi.C'est parti pour une petite éco-balade !<br>
            En nettoyant des endroits pollués tu gagnes des points. À partir d'un certain cumul, tu débloques l'accès à des programmes de
            plus grande envergure. Tu peux ainsi gagner des prix mais aussi participer à des évènements exclusifs! Cool non ? 😉</p>
          <ion-button style="margin-top: 60px;" round color="danger">Ça m'intéresse !</ion-button>
        </div>
      </ion-col>
    </ion-row>

    <!-- Chiffres -->
    <h3 style="margin-left: 5vw">En chiffres</h3>
    <ion-row>

      <ion-col text-center>
        <div>
          <img src="assets/elements/trash.svg" width="80px">
          <h4>3 milliards</h4>
          <p style="padding: 0 6vw;">C'est le nombre de déchets par an que nous atteindrons d'ici 2050 !</p>
        </div>
      </ion-col>

      <ion-col text-center>
        <div>
          <img src="assets/elements/bouteille.svg" width="80px">
          <h4>8 millions de tonnes</h4>
          <p style="padding: 0 6vw;">Voici la triste quantité de déchets plastiques déversée chaque année dans l'océan...</p>
        </div>
      </ion-col>

      <ion-col text-center>
        <div>
          <img src="assets/elements/poing.svg" width="80px">
          <h4>350 000</h4>
          <p style="padding: 0 6vw;">Autant de jeunes qui se sont mobilisés en 2019 pour dénoncer l'inaction du gouvernement français face à
            la crise climatique.</p>
        </div>
      </ion-col>
    </ion-row>

    <ion-row style="margin-top: 100px; background: #7436ED;">
      <ion-col>
        <ion-row>
          <img src="assets/elements/logo.png" height="60px">
          <p style="color: white; font-size: 0.9em;">© GAÏA 2019</p>
        </ion-row>
      </ion-col>

      <ion-col offset="1">
        <ion-row>
          <p style="color: white;">Je m'inscris à la newsletter</p>
          <ion-input placeholder="adresse mail" style="border: 1px solid white"></ion-input>
        </ion-row>
      </ion-col>

      <ion-col offset="1">
        <ion-row>
          <p style="color: white;">
            hello@joingaia.world
          </p>
        </ion-row>
      </ion-col>
    </ion-row>


  </ion-grid>
</ion-content>